/* resets some of bootstraps pre tag css so swagger ui can format it correctly */
pre {
  padding: initial;
  background-color: initial;
  border: initial;
}

.response pre.example.microlight {
  line-height: initial;
}
