/*
Some styles used on developer.ucsb.edu conflict with the swagger UI. 

These are needed to reset the look to make it work.
*/


/* override bootstrap.css */
pre {
  background-color: initial;
  border: initial !important;
  padding: initial !important;
}

.response pre.example.microlight {
  line-height: initial !important;
}

/* override github_markdown.css */
.content pre {
  background-color: initial !important;
}
